#audio-player-container{
    height: 50px;
    background: darkgrey;
    display: flex;
    align-items: center;
    max-width: 600px;
    justify-content: space-around;
}

#volume-slider{
    max-width: 100px;
}


img{
    width: 20px;
    height: 20px;
}
